<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" href= "/CSS Documents/JS Cards Style.css">
    <script src= "/Javascript Documents/JS Cards Script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap" rel="stylesheet"> 
    <title>JS Cards</title>
</head>
<body>
 
    <h1 style= "display: inline; position: relative; top: 30px; left: 530px;">JS Cards</h1>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>


</body>
</html>